.carousel-container {
  overflow: hidden;
  margin-top: 10%;
  justify-content: flex-start;
  align-items: center;
  margin-top: -40px;
  max-width: 600px; 
  max-height: 600px;
  position: absolute;
  width: 600px;
  left: 41px;
  top: 123px;
  border: px solid rgb(97, 43, 43);
}

.carousel .slide {
  transition-duration: 0.5s; 
}
